---
import BaseHead from "../components/BaseHead.astro";
import { Header } from "../components/Header";
import { Hero } from "../components/Hero";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header />
      <Hero />
    </main>
  </body>
</html>
